body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  #quiz {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  #question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #userNameInput {
    margin-bottom: 10px;
  }
  
  .option {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #score {
    font-weight: bold;
  }
  
  #nextButton,
  #resetButton {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #startButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  